@font-face {
    font-family: 'Roboto';
    src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);
}

body {
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: #ebebee;
}

.container {
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.container h2 {
    color: #333;
    text-align: center;
}

.one-quest {
    margin-bottom: 20px;
}

.one-quest label {
    color: #555;
}

.one-quest input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 15px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #3882F6;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover {
    background-color: #ebebee;
    color: black;
}

.login-link {
    text-align: center;
    margin-top: 15px;
    color: #3882F6;
    font-size: 14px;
}

.login-link a {
    color: #3882F6;
}