* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto';
    justify-content: center;
    align-items: center;
    background-color: #ebebee;
}

ul {
    list-style: none;
}
.header-about_container {
    background-color: var(--color-background-dark);
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 1% 11%;
}
.header-about-content_container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
}
.header-nav-logo_container {
    margin-right: auto;
}
.header-nav-links-container a:hover {
    text-decoration: underline;
}

.header-nav-links-container {
    display: flex;
    gap: 20px;
}

a.header-nav_about, .header-nav_menu, .header-nav_home{
    font-size: var( --font-size-secondary);
    color: var(--color-text-secondary);
    text-decoration: none;
    font-weight: 200;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4%;
}

.container {
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.container h2 {
    color: #333;
    text-align: center;
}

.one-quest {
    margin-bottom: 20px;
}

.one-quest label {
    color: #555;
}

.one-quest input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 15px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #3882F6;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover {
    background-color: #ebebee;
    color: black;
}

.login-link {
    text-align: center;
    margin-top: 15px;
    color: #3882F6;
    font-size: 14px;
}

.login-link a {
    color: #3882F6;
}